# create anaconda environment 
# conda create --name env_stentFIT python=3.14.4

# activate the environment
# conda activate env_stentFIT

# install the required packages in the env_requirements.txt file


ipykernel
matplotlib
numpy
pandas
scipy
trimesh
IPython
joblib
h5py
ipykernel
plotly

scikit-image
networkx   
beamme

# requests
# psimpy
# coscine

# jupyter

# To delete the environment
# conda remove --name env_stentFIT --all
